rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function autenticado() {
      return request.auth != null;
    }

    function admin() {
      return autenticado()
        && (
          request.auth.token.email == 'pedrorouge2022@gmail.com'
          || (exists(/databases/$(database)/documents/usuarios_roles/$(request.auth.uid))
              && get(/databases/$(database)/documents/usuarios_roles/$(request.auth.uid)).data.rol == 'admin')
        );
    }

    match /usuarios_roles/{userId} {
      allow read: if autenticado() && (request.auth.uid == userId || admin());
      allow write: if admin() || (autenticado() && request.auth.uid == userId && request.auth.token.email == 'pedrorouge2022@gmail.com');
    }

    match /telas/{telaId} {
      allow read: if autenticado();
      allow write: if admin();
    }

    match /avios/{avioId} {
      allow read: if autenticado();
      allow write: if admin();
    }

    match /clientes/{clienteId} {
      allow read: if autenticado();

      allow create: if autenticado();

      allow update: if admin()
        || (
          autenticado() && (
            resource.data.id == request.auth.uid 
            || clienteId == request.auth.uid
            || resource.data.authUid == request.auth.uid
            || resource.data.email == request.auth.token.email
          )
        );

      allow delete: if admin();
    }

    match /pedidos/{pedidoId} {
      allow read: if autenticado();

      allow create: if autenticado();

      allow update: if autenticado();

      allow delete: if autenticado();
    }
  }
}

