@import "tailwindcss";

@media print {
  @page {
    /* Esto quita TODO el margen del navegador. Lo pega al borde absoluto. */
    margin: 0 !important; 
  }

  ::-webkit-scrollbar {
    display: none;
  }

  body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
    background-color: white !important;
  }

  body * {
    visibility: hidden !important;
  }

  .print-ficha-exclusiva, .print-ficha-exclusiva *, .print-ganancias-exclusiva, .print-ganancias-exclusiva * {
    visibility: visible !important;
  }

  .print-ficha-exclusiva, .print-ganancias-exclusiva {
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    height: auto !important;
    background: white !important;
    color: black !important;
    z-index: 999999;
    /* Le dejamos un padding pequeñito (1cm) para que la impresora física no te corte las letras, pero se verá bien arriba */
    padding: 1cm !important; 
    margin: 0 !important;
    display: block !important;
  }

  /* ESTO ES CLAVE: Mata el margen superior del primer contenedor que esté empujando el título hacia abajo */
  .print-ficha-exclusiva > div {
    margin-top: 0 !important;
    padding-top: 0 !important;
  }
}